@font-face {
    font-family: myfont;
    src: url(font/IrishGrover.ttf);
}

* {
    font-family: myfont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    --bl:#257180;
    --w:#F2E5BF;
    --y:#FFDE4D;
    --o:#FD8B51;
    --r:#CB6040;
}
body{
    margin: 0;
    color: var(--bl);
}

.container, .choice, .box, .battlechoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.header{
    padding : 25px 0;
    width: 100%;
    background: var(--w);
    color: var(--r);
    box-shadow: 0px 1px 4px 0px #cfcfcf;
}

span.title {
    padding-left: 10%;
    font-size: 1.2rem;
}
.round, #roundNumber{
    font-size: xx-large;
    color: var(--o);
}

.infopanel{
    text-align: center;
}

.infopanel table{
    margin-top: 25px;
    background: var(--w);
    border-radius: 10px;
    padding: 8px;
}

.infopanel table th{
    padding: 0 15px;
}

td{
    color: var(--o);
}
.choice{
    flex-wrap: wrap;
    gap: 35px;
    flex-direction: initial;
}

.box {
    gap: 5px;
    cursor: pointer;
    transition: .3s;
}

.box:hover{
    transform: scale(1.2);
    color:var(--r);
}

img{
    width: 55px;
}

#scissors img{
    width: 45px;
}

.battlechoice{
    flex-direction: row;
    height: 100px;
}

.messageInfo{
    height: 25px;
    color: var(--o);
    animation: zoom .4s ease-out forwards;
}

/* Animation déclenchée */
.humanChoiceAnimation {
    transform: rotate(90deg) scale(1.2);
    animation: spinSlowDown 3s ease-out forwards;
}

.computerChoiceAnimation {
    transform: rotate(270deg) scale(1.2);
    animation: spinSlowDownReverse 3s ease-out forwards;
}


img#humanChoice {
    transform: rotate(90deg);
    transition: .3s;
}

img#computerChoice {
    transform: rotate(270deg);
    transition: .3s;
}

@keyframes zoom {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes spinSlowDown {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    }
    50% {
        transform: rotate(720deg); /* Tourne vite au début */
        animation-timing-function: cubic-bezier(0.3, 0.7, 0.5, 1);
    }
    100% {
        transform: rotate(1080deg); /* Ralentit vers la fin */
    }
}

@keyframes spinSlowDownReverse {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    }
    50% {
        transform: rotate(-720deg); /* Tourne vite au début */
        animation-timing-function: cubic-bezier(0.3, 0.7, 0.5, 1);
    }
    100% {
        transform: rotate(-1080deg); /* Ralentit vers la fin */
    }
}

/* modal */
dialog#mymodal {
    position: absolute;
    display: none;
    border-radius: 15px;
    top: 100px;
    width: 250px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--bl);
    box-shadow: 1px 0 6px 0px var(--bl);
    border: none;
    transition: .3s;
}

span#modalTitle {
    color: var(--r);
    font-size: xx-large;
}

button#modalButton {
    background: var(--r);
    color: var(--w);
    border: none;
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 15px;
    transition: .3s;
}
button#modalButton:hover{
    transform: scale(1.1);
}

/* footer */
footer{
    width: 100%;
    color: var(--w);
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bl);
}
footer p{
    font-size: medium;
}
footer a {
    text-decoration: none;
    color: var(--w);
    transition: .3s;
    font-size: medium;
}

footer a:hover{
    text-decoration: underline;
}

footer img{
    width: 22px;
    filter: invert(1);
}